body {
  font-family: sans-serif;
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 5px;
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

#resault {
  margin-top: 20px;
  font-weight: bold;
}
